#notify-icon { position:relative; }
#notify-counter { line-height:10px; background:#ba2626; color:#fff; position:absolute; top:-0.25em; right:-0.25em; padding:0.25em; border-radius:0.4em; font-weight:bold; white-space:nowrap; }
#notify-counter[data-count="0"] { display: none; }
#notify-list { background:#fff; position:fixed; top:3.5em; right:18em; width:24em; box-shadow:0 0 10px #000; border-radius:0 0 0.4em 0.4em; }
#notify-list .notification { margin:0.25em; display:block; padding:0.5em; }
#notify-list .notification.unread { background: #faa; }
#notify-list .notification.read { background: #afa; }
#notify-list .notification.unread:hover { background: #f55; }
#notify-list .notification.read:hover { background: #5f5; }
